<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<article class="page">

	<header class="panel panel-default"> 
		<div class="panel-body">
			Блог 
		</div> 
	</header>
	
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a routerLink="/home">Home</a></li>
	  <li role="presentation"><a routerLink="/about">Profile</a></li>
	  <li role="presentation"><a href="#">Messages</a></li>
	</ul>
	
	<nav class="panel panel-default posts">	
		<ul class="nav nav-pills nav-stacked">
			<li *ngFor="let post of posts | async"><a href="#">{{post.title}}</a></li>
		</ul>		
	</nav>
	
	<router-outlet></router-outlet>
	
	<div class="separator"></div>

	<footer><span class="label label-info">@C Alex</span></footer>
<article>



